body{
    min-width:982px;
}
h1{
    text-align: center;
}

#main_box{
    display: flex;
    justify-content: space-around;
}
#depense-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.16%;
    border: black solid;

}
#epargne-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.16%;
    border: solid black;
}
#recette-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 22.16%;
    border: black solid;
}
#dep-container{
    display: flex;
    justify-content: space-around;

}
#rec-container{
    display: flex;
    justify-content: space-around;
}
#epa-container{
    display: flex;
    justify-content: space-around;
}
#total-main-box{
    margin-bottom: 2%;
    display: flex;
    justify-content: space-around;
}
#total-dep-box{
    margin-top: 2%;
    width: 22.16%;
    height: 50px;
    border: black solid;
}
#total-dep{
display: inline-block;
}
#total-rec_box{
    margin-top: 2%;
    width: 22.16%;
    height: 50px;
    border: black solid;
}
#total-rec{
    display: inline-block;
}
#total-epa_box {
    margin-top: 2%;
    width: 22.16%;
    height: 50px;
    border: black solid;
}
#resultat-main-box{
    margin: auto;
    width: 89%;
    height: 110px;
    border: black solid;
}
#resultat{
    display: inline-block;
}
#reset{
    margin-top: 2%;
    position: relative;
    left: 48%;
}
#gif{
    margin: auto;
    width: 500px;
    height: 300px;
    display: none;
    background-image: url("crabs.gif");
}
#buy{
    text-align: center;
    font-size: 2em;
}
span{
    margin-left: 2%;
}


@keyframes a-sec {
    0%{background-color: green}
    50%{background-color: goldenrod}
    100%{background-color: green}
}


